body .navegacionInferior .informacion .dato1, body .navegacionInferior .informacion .dato2, body .navegacionInferior .informacion .dato3 {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  font-family: 'Lato', sans-serif; }

body .pinturas .pinturas__stock .pinturas__pinturas h3, body .pinturas .pinturas__stock .pinturas__esmaltes h3, body .pinturas .pinturas__stock .pinturas__eco h3, body .pinturas .pinturas__stock .pinturas__herramientas h3 {
  color: #fff;
  background-color: #B80C09;
  padding: 10px;
  font-size: 18px; }

body .pinturas h1 {
  color: #fff;
  background-color: #0B4F6C;
  padding: 10px;
  font-size: 25px; }

body .ecologico h1, body .ecologico__introduccion h2 {
  color: #034732;
  background-color: #008148;
  padding: 10px;
  font-size: 25px; }

body .pinturas .pinturas__stock .pinturas__pinturas .pinturas__productos, body .pinturas .pinturas__stock .pinturas__esmaltes .pinturas__producto2 {
  display: flex;
  justify-content: space-evenly; }

body .pinturas .pinturas__stock .pinturas__pinturas .pinturas__productos h5, body .pinturas .pinturas__stock .pinturas__esmaltes .pinturas__producto2 h5, body .pinturas .pinturas__stock .pinturas__eco .pinturas__producto3 h5, body .pinturas .pinturas__stock .pinturas__herramientas .pinturas__producto4 h5 {
  width: 100%;
  margin-top: 0;
  text-align: center; }

body {
  margin: 0;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23d3d3da' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
  body .navegacion__btn {
    position: absolute;
    top: 15px;
    right: 30px;
    display: none; }
  body .navegacion .navegacion__superior {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    body .navegacion .navegacion__superior .navegacion__logo img {
      width: 150px; }
    body .navegacion .navegacion__superior .navegacion__links {
      display: flex; }
      body .navegacion .navegacion__superior .navegacion__links li {
        list-style: none;
        margin: 15px; }
        body .navegacion .navegacion__superior .navegacion__links li a {
          text-decoration: none;
          font-family: 'Lato', sans-serif;
          padding: 5px; }
          body .navegacion .navegacion__superior .navegacion__links li a:hover {
            background: #B80C09;
            color: #fff;
            transition: all 400ms ease;
            border-radius: 5px; }
  body .presentacion .presentacion__bienvenida {
    background: url(../imagenes/foto-de-inicio.jpg) no-repeat center center/cover;
    height: 600px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #0B4F6C; }
    body .presentacion .presentacion__bienvenida .presentacion__texto {
      text-align: center; }
      body .presentacion .presentacion__bienvenida .presentacion__texto p {
        font-size: 18px; }
  body .presentacion .presentacion__productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    grid-gap: 50px; }
    body .presentacion .presentacion__productos .productos__indumentaria1 {
      background: url(../imagenes/mancha-azul.png) no-repeat center center/cover;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px; }
      body .presentacion .presentacion__productos .productos__indumentaria1 h3 a {
        text-decoration: none;
        color: #ffffff; }
      body .presentacion .presentacion__productos .productos__indumentaria1 h3:hover {
        transform: scale(1.05);
        transition: all 400ms ease; }
    body .presentacion .presentacion__productos .productos__indumentaria2 {
      background: url(../imagenes/mancha-negra.png) no-repeat center center/cover;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px; }
      body .presentacion .presentacion__productos .productos__indumentaria2 h3 a {
        text-decoration: none;
        color: #ffffff; }
      body .presentacion .presentacion__productos .productos__indumentaria2 h3:hover {
        transform: scale(1.05);
        transition: all 400ms ease; }
    body .presentacion .presentacion__productos .productos__indumentaria3 {
      background: url(../imagenes/mancha-colores.png) no-repeat center center/cover;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px; }
      body .presentacion .presentacion__productos .productos__indumentaria3 h3 a {
        text-decoration: none;
        color: #ffffff; }
      body .presentacion .presentacion__productos .productos__indumentaria3 h3:hover {
        transform: scale(1.05);
        transition: all 400ms ease; }
    body .presentacion .presentacion__productos .productos__indumentaria4 {
      background: url(../imagenes/mancha-roja.png) no-repeat center center/cover;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px; }
      body .presentacion .presentacion__productos .productos__indumentaria4 h3 a {
        text-decoration: none;
        color: #ffffff; }
      body .presentacion .presentacion__productos .productos__indumentaria4 h3:hover {
        transform: scale(1.05);
        transition: all 400ms ease; }
  body .navegacionInferior {
    background: #0B4F6C;
    margin-top: 20px; }
    body .navegacionInferior .redes {
      display: flex;
      justify-content: center;
      padding-right: 10px; }
      body .navegacionInferior .redes a i {
        color: black;
        top: 15px;
        padding: 5px; }
        body .navegacionInferior .redes a i:hover {
          color: #ffffff;
          transition: all 400ms ease; }
    body .navegacionInferior .informacion {
      display: flex;
      justify-content: space-around; }
      body .navegacionInferior .informacion .dato1 span {
        margin-bottom: 10px; }
      body .navegacionInferior .informacion .dato2 span {
        margin-bottom: 10px; }
      body .navegacionInferior .informacion .dato3 h4 {
        text-decoration: double; }
      body .navegacionInferior .informacion .dato3 span {
        margin-bottom: 10px; }
  @media (max-width: 768px) {
    body .navegacion__btn {
      display: block; }
    body .navegacion__links {
      flex-direction: column;
      position: absolute;
      background: #01BAEF;
      color: black;
      height: 100%;
      margin: 0;
      top: 0;
      left: 0;
      transform: translateX(-400px);
      padding: 30px;
      opacity: .9;
      transition: transform .7s ease-in-out; }
      body .navegacion__links li {
        padding: 20px;
        font-size: 16px; }
    body .desplegable {
      transform: translateX(-20px); } }
  @media (max-width: 540px) {
    body .presentacion__productos {
      grid-template-columns: 1fr !important; } }
  @media (max-width: 768px) {
    body .redes {
      padding-left: 10px; }
    body .informacion {
      flex-direction: column; } }
  body .pinturas .pinturas__stock .pinturas__pinturas {
    display: flex;
    flex-direction: column; }
    body .pinturas .pinturas__stock .pinturas__pinturas .pinturas__productos h5 a {
      display: block;
      text-decoration: none;
      font-size: 18px; }
      body .pinturas .pinturas__stock .pinturas__pinturas .pinturas__productos h5 a:hover {
        background: #B80C09;
        color: #fff;
        transition: all 400ms ease;
        border-radius: 5px; }
  body .pinturas .pinturas__stock .pinturas__esmaltes {
    display: flex;
    flex-direction: column; }
    body .pinturas .pinturas__stock .pinturas__esmaltes .pinturas__producto2 h5 a {
      display: block;
      text-decoration: none;
      font-size: 18px; }
      body .pinturas .pinturas__stock .pinturas__esmaltes .pinturas__producto2 h5 a:hover {
        background: #B80C09;
        color: #fff;
        transition: all 400ms ease;
        border-radius: 5px; }
  body .pinturas .pinturas__stock .pinturas__eco {
    display: flex;
    flex-direction: column; }
    body .pinturas .pinturas__stock .pinturas__eco .pinturas__producto3 {
      display: flex;
      justify-content: center; }
      body .pinturas .pinturas__stock .pinturas__eco .pinturas__producto3 img {
        height: 250px; }
      body .pinturas .pinturas__stock .pinturas__eco .pinturas__producto3 h5 a {
        display: block;
        text-decoration: none;
        font-size: 18px; }
        body .pinturas .pinturas__stock .pinturas__eco .pinturas__producto3 h5 a:hover {
          background: #B80C09;
          color: #fff;
          transition: all 400ms ease;
          border-radius: 5px; }
  body .pinturas .pinturas__stock .pinturas__herramientas {
    display: flex;
    flex-direction: column; }
    body .pinturas .pinturas__stock .pinturas__herramientas .pinturas__producto4 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      body .pinturas .pinturas__stock .pinturas__herramientas .pinturas__producto4 img {
        height: 250px;
        width: 350px; }
      body .pinturas .pinturas__stock .pinturas__herramientas .pinturas__producto4 h5 a {
        display: block;
        text-decoration: none;
        font-size: 18px; }
        body .pinturas .pinturas__stock .pinturas__herramientas .pinturas__producto4 h5 a:hover {
          background: #B80C09;
          color: #fff;
          transition: all 400ms ease;
          border-radius: 5px; }
  @media (max-width: 768px) {
    body .pinturas .pinturas__productos {
      flex-direction: column;
      text-align: center; }
    body .pinturas .pinturas__producto2 {
      flex-direction: column;
      text-align: center; } }
  body .ecologico .slider {
    width: 85%;
    margin: auto;
    overflow: hidden; }
    body .ecologico .slider ul {
      display: flex;
      padding: 0;
      width: 300%;
      animation: cambio 20s infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in; }
      body .ecologico .slider ul li {
        width: 100%;
        list-style: none; }
        body .ecologico .slider ul li img {
          width: 100%;
          height: 500px;
          margin-bottom: 0; }
        body .ecologico .slider ul li h3 {
          text-align: center;
          background-color: #008148;
          margin: 0; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  30% {
    margin-left: 0; }
  35% {
    margin-left: -100%; }
  65% {
    margin-left: -100%; }
  70% {
    margin-left: -200%; }
  100% {
    margin-left: -200%; } }
  body .ecologico__introduccion h2 {
    text-align: center;
    font-family: 'Arima', cursive; }
  body .ecologico__introduccion .ecologico__informacion {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 90%;
    background-color: #93BE55;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 15px;
    overflow: hidden; }
    body .ecologico__introduccion .ecologico__informacion .texto-eco h5 {
      background-color: #008148;
      font-size: 20px;
      margin-bottom: 5px;
      margin-top: 0px;
      font-family: 'Arima', cursive; }
    body .ecologico__introduccion .ecologico__informacion .texto-eco p {
      margin: 0;
      font-family: 'Arima', cursive; }
    body .ecologico__introduccion .ecologico__informacion .imagen-eco img {
      border-radius: 15px;
      width: 350px;
      margin: 8px; }
  body .ecologico__introduccion .ecologico__informacion2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 90%;
    background-color: #93BE55;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 15px;
    overflow: hidden; }
    body .ecologico__introduccion .ecologico__informacion2 .texto-eco2 h5 {
      background-color: #008148;
      font-size: 20px;
      margin-bottom: 5px;
      margin-top: 0px;
      font-family: 'Arima', cursive; }
    body .ecologico__introduccion .ecologico__informacion2 .texto-eco2 p {
      margin: 0;
      font-family: 'Arima', cursive; }
    body .ecologico__introduccion .ecologico__informacion2 .imagen-eco2 img {
      border-radius: 15px;
      width: 250px;
      height: 350px;
      margin: 8px; }
  body .ecologico__introduccion .ecologico__informacion3 {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 90%;
    background-color: #93BE55;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 15px;
    overflow: hidden; }
    body .ecologico__introduccion .ecologico__informacion3 .texto-eco3 h5 {
      background-color: #008148;
      font-size: 20px;
      margin-bottom: 5px;
      margin-top: 0px;
      font-family: 'Arima', cursive; }
    body .ecologico__introduccion .ecologico__informacion3 .texto-eco3 p {
      margin: 0;
      font-family: 'Arima', cursive; }
    body .ecologico__introduccion .ecologico__informacion3 .imagen-eco3 img {
      border-radius: 15px;
      width: 250px;
      margin: 8px; }
  @media (max-width: 768px) {
    body .ecologico__introduccion .ecologico__informacion {
      grid-template-columns: 1fr; }
      body .ecologico__introduccion .ecologico__informacion .texto-eco {
        text-align: center; }
      body .ecologico__introduccion .ecologico__informacion .imagen-eco {
        text-align: center; }
    body .ecologico__introduccion .ecologico__informacion2 {
      grid-template-columns: 1fr; }
      body .ecologico__introduccion .ecologico__informacion2 .texto-eco2 {
        text-align: center; }
      body .ecologico__introduccion .ecologico__informacion2 .imagen-eco2 {
        text-align: center; }
    body .ecologico__introduccion .ecologico__informacion3 {
      grid-template-columns: 1fr; }
      body .ecologico__introduccion .ecologico__informacion3 .texto-eco3 {
        text-align: center; }
      body .ecologico__introduccion .ecologico__informacion3 .imagen-eco3 {
        text-align: center; } }
  body .nosotros .nosotros__empresa .empresa__texto {
    font-family: 'Arima', cursive; }
  body .nosotros h1 {
    background-color: #0B4F6C;
    color: #ffffff;
    font-size: 25px; }
  body .director {
    width: 300px;
    height: 450px; }

.trabaja h1 {
  background-color: #0B4F6C; }

.trabaja .trabaja__informacion {
  padding: 10px;
  font-family: 'Arima', cursive; }
  .trabaja .trabaja__informacion p ul {
    color: black; }

.trabaja .formulario {
  display: flex;
  min-height: 60vh; }
  .trabaja .formulario .form {
    background-color: #ffffff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px;
    text-align: center; }
    .trabaja .formulario .form .form__title {
      font-size: 2em;
      margin-bottom: .5em; }
    .trabaja .formulario .form .form__conteiner {
      margin-top: 3em;
      display: grid;
      gap: 2.5em; }
      .trabaja .formulario .form .form__conteiner .form__grupo {
        position: relative; }
        .trabaja .formulario .form .form__conteiner .form__grupo .form__input {
          width: 100%;
          background: none;
          font-size: 1rem;
          padding: .6em .3em;
          border: none;
          outline: none;
          border-bottom: 1px solid black; }
        .trabaja .formulario .form .form__conteiner .form__grupo .form__input:focus + .form__label,
        .trabaja .formulario .form .form__conteiner .form__grupo .form__input:not(:placeholder-shown) + .form__label {
          transform: translateY(-12px) scale(0.7);
          transform-origin: left top;
          color: #0B4F6C; }
        .trabaja .formulario .form .form__conteiner .form__grupo .form__label {
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 5px;
          transform: translateY(10px);
          transition: transform .5s, color .3s;
          transition: transform .4s; }
        .trabaja .formulario .form .form__conteiner .form__grupo .form__input:focus ~ .form__label,
        .trabaja .formulario .form .form__conteiner .form__grupo .form__input:not(:placeholder-shown) + .form__line {
          transform: scale(0.65); }
        .trabaja .formulario .form .form__conteiner .form__grupo .form__line {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #3866f2; }
      .trabaja .formulario .form .form__conteiner .form__submit {
        background-color: #0B4F6C;
        color: #ffffff;
        font-weight: 300;
        font-size: 1rem;
        padding: .8em 0;
        border: none;
        border-radius: .5em; }
  @media (max-width: 768px) {
    .trabaja .formulario .form__title {
      font-size: 1.8rem; } }
