@import "partials/variantes";
@import "partials/mixin";
@import "partials/extend";
@import "partials/mapas";
body{
    margin: 0;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23d3d3da' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    .navegacion__btn{
        position: absolute;
        top: 15px;
        right: 30px;
        display: none;
        
    }
    .navegacion{
       
        .navegacion__superior{
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            .navegacion__logo{
                img{
                    width: 150px;
                }
            }
        
            .navegacion__links{
                display: flex;
                
                    li{
                    list-style: none;
                    margin: 15px;
                    
                    a{
                        text-decoration: none;
                        font-family: 'Lato', sans-serif;
                        
                        padding: 5px;

                        &:hover{
                           @include ancore;
                        }
                    }
                }
            }
        }
    }
    
    .presentacion{
        .presentacion__bienvenida{
            background: url(../imagenes/foto-de-inicio.jpg) no-repeat center center/cover;
            height: 600px;
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $secundario;
            .presentacion__texto{
                
                text-align: center;
                p{
                   
                    font-size: 18px;
                }
            }
        }
        .presentacion__productos{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 50px;
            grid-gap: 50px;
          
            .productos__indumentaria1{
                background: url(../imagenes/mancha-azul.png) no-repeat center center/cover;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                h3{
                    a{
                        text-decoration: none;
                        color: #ffffff;
                    }
                    &:hover{
                        @include animacion;
                    }
                }           
            }

            .productos__indumentaria2{
                background: url(../imagenes/mancha-negra.png) no-repeat center center/cover;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                h3{
                    a{
                        text-decoration: none;
                        color: #ffffff;
                    }
                    &:hover{
                        @include animacion;
                    }
                }           
            }

            .productos__indumentaria3{
                background: url(../imagenes/mancha-colores.png) no-repeat center center/cover;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                h3{
                    a{
                        text-decoration: none;
                        color: #ffffff;
                    }
                    &:hover{
                        @include animacion;
                    }
                }           
            }

            .productos__indumentaria4{
                background: url(../imagenes/mancha-roja.png) no-repeat center center/cover;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                h3{
                    a{
                        text-decoration: none;
                        color: #ffffff;
                    }
                    &:hover{
                        @include animacion;
                    }
                }
            }
    }

    }
    .navegacionInferior{
        background: $secundario;
        margin-top: 20px;
        
        .redes{
            display: flex;
            justify-content: center;
            padding-right: 10px;
            a{
                i{
                    color: black;
                    top: 15px;
                    padding: 5px;
                    
                    &:hover{
                        color:#ffffff;
                        transition: $transicion;
                    }
                }
            }
        }

        .informacion{
            display: flex;
            justify-content: space-around;

            .dato1{
                @extend %centrar;

                span{
                    margin-bottom: 10px
                }
            }
            .dato2{
                @extend %centrar;

                span{
                    margin-bottom: 10px
                }
            }
            .dato3{
                @extend %centrar;
                h4{
                    text-decoration: double;
                }
                span{
                    margin-bottom: 10px
                }
            }
          
        }

    }

    //HEADER
    @media (max-width:map-get($breackpoints, md)) {

        .navegacion__btn{
            display: block;
        }
        .navegacion__links{
            flex-direction: column;
            position: absolute;
            background: $terciario;
            color: black;
            height: 100%;
            margin: 0;
            top: 0;
            left: 0;
            transform: translateX(-400px);
            padding:30px;
            opacity: .9;
            transition: transform .7s ease-in-out;

            li{
                padding: 20px;
                font-size: 16px;
            }
        }
        .desplegable{
           transform: translateX(-20px);
         
        }
    }

    //MAIN

    @media (max-width:map-get($breackpoints, sm)){
        .presentacion__productos{
            grid-template-columns: 1fr !important;
            
            
            .productos__indumentaria1{
                h3{
                    font-size: x-large;
                    text-align: center;
                    
                    a{
                        color: $principal !important;
                    }
                }
            }

            .productos__indumentaria2{
                h3{
                    font-size: x-large;
                    text-align: center;
                    a{
                        color: $principal !important;
                    }
                }
            }

            .productos__indumentaria3{
                h3{
                    font-size: x-large;
                    text-align: center;
                    a{
                        color: $secundario !important;
                    }
                }
            }

            .productos__indumentaria4{
                h3{
                    font-size: x-large;
                    text-align: center;
                    a{
                        color: $secundario !important;
                    }
                }
            }
        }
    }
    
    //FOOTER

    @media (max-width:map-get($breackpoints, md)){
        .redes{
            padding-left: 10px;
        }
        
        .informacion{
            flex-direction: column;
        }
    }



//PRODUCTOS

.pinturas{
    h1{
        @extend %titulo;
    }

    .pinturas__stock{
        .pinturas__pinturas{
            display:flex ;
            flex-direction: column;
            h3{
                @extend %subtitulo;
            }
            .pinturas__productos{
                @extend %productos;
                h5{
                    @extend %caracteristica_productos;

                    a{
                        display: block;
                        text-decoration: none;
                        font-size: 18px;
                        &:hover{
                            @include ancore;
                        }
                    }
                }
            }

        }

        .pinturas__esmaltes{
            display:flex ;
            flex-direction: column;
            h3{
                @extend %subtitulo;
            }
            .pinturas__producto2{
                @extend %productos;
                h5{
                    @extend %caracteristica_productos;

                    a{
                        display: block;
                        text-decoration: none;
                        font-size: 18px;
                        &:hover{
                            @include ancore;
                        }
                    }
                }
            }
        }

        .pinturas__eco{
            display:flex ;
            flex-direction: column;
            h3{
                @extend %subtitulo;
            }
            
            .pinturas__producto3{
                    display: flex;
                    justify-content: center;
                img{
                    height: 250px;
                    
                }

                h5{
                    @extend %caracteristica_productos;

                    a{
                        display: block;
                        text-decoration: none;
                        font-size: 18px;
                        &:hover{
                            @include ancore;
                        }
                    }
                }
            }
        }

        .pinturas__herramientas{
            display: flex;
            flex-direction: column;
            h3{
                @extend %subtitulo
            }

            .pinturas__producto4{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
        
                img{
                    height: 250px;
                    width: 350px;
                }
                h5{
                    @extend %caracteristica_productos;

                    a{
                        display: block;
                        text-decoration: none;
                        font-size: 18px;
                        &:hover{
                            @include ancore;
                        }
                    }
                }
            }
        }
    }
    
@media (max-width:map-get($breackpoints, md)){
   .pinturas__productos{
        flex-direction: column;
        text-align: center;
   }

   .pinturas__producto2{
    flex-direction: column;
    text-align: center;
   }
}
    
}

.ecologico{
    h1{
        @extend %ecotitulo;
    }
    .slider{
        width: 85%;
        margin: auto;
        overflow: hidden;

        ul{
            display: flex;
            padding: 0;
            width: 300%;

            animation: cambio 20s infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in;

            li{
                width: 100%;
                list-style: none;
                img{
                    width: 100%;
                    height: 500px;
                    margin-bottom: 0;
                }

                h3{
                    text-align: center;
                    background-color: $ecoprincipal;
                    margin: 0;
                }
                
            }
        }
    }

    @keyframes cambio {
        0%{ margin-left: 0;}
        30% {margin-left: 0;}

        35% {margin-left: -100%;}
        65% {margin-left: -100%;}

        70% {margin-left: -200%;}
        100% {margin-left: -200%;}

    }
}
.ecologico__introduccion{
    h2{
        @extend %ecotitulo;
        text-align: center;
        font-family: 'Arima', cursive;
    }
    .ecologico__informacion{
        display: grid;
        grid-template-columns: 3fr 1fr;
        width: 90%;
        background-color: $ecofondo;
        border-radius: 20px;
        margin: auto;
        margin-bottom: 15px;
        overflow: hidden;
        
        .texto-eco{
            h5{
                background-color: $ecoprincipal;
                font-size: 20px;
                margin-bottom: 5px;
                margin-top: 0px;
                font-family: 'Arima', cursive;
            }
            p{
                margin: 0;
                font-family: 'Arima', cursive;
            }
        }

        .imagen-eco{
           img{
            border-radius: 15px;
            width: 350px;
            margin: 8px;
           }
        }

    }

    .ecologico__informacion2{
        display: grid;
        grid-template-columns: 1fr 3fr;
        width: 90%;
        background-color: $ecofondo;
        border-radius: 20px;
        margin: auto;
        margin-bottom: 15px;
        overflow: hidden;
        
        .texto-eco2{
            h5{
                background-color: $ecoprincipal;
                font-size: 20px;
                margin-bottom: 5px;
                margin-top: 0px;
                font-family: 'Arima', cursive;
            }
            p{
                margin: 0;
                font-family: 'Arima', cursive;
            }
        }

        .imagen-eco2{
           img{
            border-radius: 15px;
            width: 250px;
            height: 350px;
            margin: 8px;
           }
        }
    }

    .ecologico__informacion3{
        display: grid;
        grid-template-columns: 4fr 1fr;
        width: 90%;
        background-color: $ecofondo;
        border-radius: 20px;
        margin: auto;
        margin-bottom: 15px;
        overflow: hidden;
        
        .texto-eco3{
            h5{
                background-color: $ecoprincipal;
                font-size: 20px;
                margin-bottom: 5px;
                margin-top: 0px;
                font-family: 'Arima', cursive;
            }
            p{
                margin: 0;
                font-family: 'Arima', cursive;
            }
        }

        .imagen-eco3{
           img{
            border-radius: 15px;
            width: 250px;
            margin: 8px;
           }
        }
    }
    @media (max-width:map-get($breackpoints, md)){
        .ecologico__informacion{
            grid-template-columns: 1fr;
            
            .texto-eco{
                text-align: center;
            }

            .imagen-eco{
                text-align: center;
            }
        }

        .ecologico__informacion2{
            grid-template-columns: 1fr;

            .texto-eco2{
                text-align: center;
            }

            .imagen-eco2{
                text-align: center;
            }
        }

        .ecologico__informacion3{
            grid-template-columns: 1fr;
            
            .texto-eco3{
                text-align: center;
            }

            .imagen-eco3{
                text-align: center;
            }
        }
     }
}


//CONOCENOS
.nosotros{
    .nosotros__empresa{
        .empresa__texto{
            font-family: 'Arima', cursive;
        }
    }
    h1{
        background-color: $secundario;   
        color: #ffffff;   
        font-size: 25px;  
    }

      
    }
    
    .director{
        width: 300px;
        height: 450px;
    }
    
    
    //TRABAJA CON NOSOTROS
    
    .trabaja{
        h1{
            @extend %titulo;
        }
        
        .trabaja__informacion{
            padding: 10px;
            font-family: 'Arima', cursive;
            
            p ul{
                color: black;
            }
        }
        
        .formulario{
            display: flex;
            min-height: 60vh;
            
            
            .form{
                background-color: #ffffff;
                margin: auto;
                width: 90%;
                max-width: 400px;
                padding: 4.5em 3em;
                border-radius: 10px;
                box-shadow: 0 5px 10px -5px;
                text-align: center;
                
                .form__title{
                font-size: 2em;
                margin-bottom: .5em;
            }
            
            .form__conteiner{
                margin-top: 3em;
                display: grid;
                gap: 2.5em;
                
                .form__grupo{
                    position: relative;
                    
                    .form__input{
                        width: 100%;
                        background: none;
                        font-size: 1rem;
                        padding: .6em .3em;
                        border: none;
                        outline: none;
                        border-bottom: 1px solid black;
                        
                    }
                    
                    .form__input:focus + .form__label,
                    .form__input:not(:placeholder-shown) + .form__label{
                        transform: translateY(-12px) scale(.7);
                        transform-origin: left top;
                        color: $secundario;
                    }
                    .form__label{
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        left: 5px;
                        transform: translateY(10px);
                        transition: transform .5s, color .3s;
                        transition: transform .4s;
                        
                    }
                    
                    .form__input:focus ~ .form__label,
                    .form__input:not(:placeholder-shown) + .form__line{
                        transform: scale(0.65);
                    }
                    
                    .form__line{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: #3866f2;
                    }
                }
                
                .form__submit{
                    background-color: $secundario;
                    color: #ffffff;
                    font-weight: 300;
                    font-size: 1rem;
                    padding: .8em 0;
                    border: none;
                    border-radius: .5em;
                }
                
                
            }
            
        }
        
        @media (max-width:map-get($breackpoints, md)){
            .form__title{
                font-size: 1.8rem;
            }
        }
    }
    
    }
    //PINTURA PLASTICA Y DE EXTERIOR
    .ppe{
        h1{
            @extend %titulo;
        }

        .ppe__productos{
            padding: 15px;

            .ppe__pinturas{
                display: flex;
            
                .ppe__img{
                    border: solid black;
                    border-radius: 5px;
                    margin-bottom: 15px;
                    max-height: 200px;
                    background-color: #ffffff;
                   
                }
                
                .ppe__texto{
                    margin-left: 15px;
                    font-family: $letratexto;
                    
                    h3{
                        margin-top: 0;
                        background-color: $principal;
                        color: #ffffff;
                        font-size: 16px;                         
                    }
                    h5{
                        font-size: $tamañosubtitulos;
                        margin-bottom: 5px;
                    }
                    h6{
                        font-size: $tamañosubtitulos;
                        margin: 0;
                    }
                    p{
                        margin-top: 0;
                        font-size: $tamañotexto;
                    }


                }

            }
            
            
        }
        
        @media (max-width:map-get($breackpoints, sm)){
            .ppe__pinturas{
                flex-direction: column;
                margin-bottom: 50px;

                .ppe__img{
                    text-align: center;
                    overflow: hidden;
                }
            }
        }
    }
    
//ESMALTES PRIMACIONES DISOLVENTES

.epd{
    h1{
        @extend %titulo;
    }

    .epd__productos{
        padding: 15px;

        .epd__pinturas{
            display: flex;
        
            .epd__img{
                border: solid black;
                border-radius: 5px;
                margin-bottom: 15px;
                max-height: 200px;
                background-color: #ffffff;
                
            }
            
            .epd__texto{
                margin-left: 15px;
                font-family: $letratexto;
                
                h3{
                    margin-top: 0;
                    background-color: $principal;
                    color: #ffffff;
                    font-size: 16px;                         
                }
                h5{
                    font-size: $tamañosubtitulos;
                    margin-bottom: 5px;
                }
                h6{
                    font-size: $tamañosubtitulos;
                    margin: 0;
                }
                p{
                    margin-top: 0;
                    font-size: $tamañotexto;
                }


            }

        }
        
        
    }
    
    @media (max-width:map-get($breackpoints, sm)){
        .epd__pinturas{
            flex-direction: column;
            margin-bottom: 50px;

            .epd__img{
                text-align: center;
                overflow: hidden;
            }
        }
    }
}

//LINEA ECOLOGICA
.le{
    h1{
        @extend %ecotitulo;
    }

    .le__productos{
        padding: 15px;

        .le__pinturas{
            display: flex;
        
            .le__img{
                border: solid black;
                border-radius: 5px;
                margin-bottom: 15px;
                max-height: 200px;
                background-color: #ffffff;
                
            }
            
            .le__texto{
                margin-left: 15px;
                font-family: $letratexto;
                
                h3{
                    margin-top: 0;
                    background-color: $ecoprincipal;
                    color: #ffffff;
                    font-size: 16px;                         
                }
                h5{
                    font-size: $tamañosubtitulos;
                    margin-bottom: 5px;
                }
                h6{
                    font-size: $tamañosubtitulos;
                    margin: 0;
                }
                p{
                    margin-top: 0;
                    font-size: $tamañotexto;
                }

            }

        }
        
        
    }
    
    @media (max-width:map-get($breackpoints, sm)){
        .le__pinturas{
            flex-direction: column;
            margin-bottom: 50px;

            .le__img{
                text-align: center;
                overflow: hidden;
            }
        }
    }
}

//HERAMIENTAS DE TRABAJO

.ht{
    h1{
        @extend %titulo;
    }

    .ht__productos{
        padding: 15px;

        .ht__pinturas{
            display: flex;
        
            .ht__img{
                border: solid black;
                border-radius: 5px;
                margin-bottom: 15px;
                max-height: 200px;
                background-color: #ffffff;
                overflow: hidden;
                img{
                    width: 200px;
                }
            }
            
            .ht__texto{
                width: 90%;
                margin-left: 15px;
                font-family: $letratexto;
                
                h3{
                    margin-top: 0;
                    background-color: $principal;
                    color: #ffffff;
                    font-size: 16px;                         
                }
                h5{
                    font-size: $tamañosubtitulos;
                    margin-bottom: 5px;
                }
                h6{
                    font-size: $tamañosubtitulos;
                    margin: 0;
                }
                p{
                    margin-top: 0;
                    font-size: $tamañotexto;
                }

            }

        }
        
        
    }
    
    @media (max-width:map-get($breackpoints, sm)){
        .ht__pinturas{
            flex-direction: column;
            margin-bottom: 50px;
            
            .ht__img{
                text-align: center;
                overflow: hidden;
            }
        }
    }
}

    
}


